/* 
  This file will contain any variables, mixins, and utility classes
*/

/* Variables */

// Light mode colors
$btn: #0079FF;
$light-text: #697C9A;
$light-titletxt: #2B3442;
$light-bottomlink: #4B6A9B;
$light-secondary-background: #F6F8FF;
$light-primary-background: #FEFEFE;

// Dark mode colors
$dark-txt: #FFFFFF;
$dark-primary-background: rgb(20, 29, 47);
$dark-card-background: #1E2A47;

// Typography

