
 // This file will contain any layouts such as containers, grid systems, and resets
// Using a mobile first approach


@use 'base';

// Header 
.wrapper {                    // I used a wrapper so at not point does content width take up page
 max-width: 327px;            // Max width is recommended instead of width, 327 is the width in mobile
 margin: auto;
}

header {
  width: auto;                // auto ensures there is no overflow % will cause an overflow of padding and margin
  
}

// Search bar 


// Body 