
 // This file will contain any layouts such as containers, grid systems, and resets
// Using a mobile first approach


@import 'base';

//reset and content wrapper
*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  background-color: $light-primary-background;
}
.wrapper {                    
 max-width: 327px;            
 margin: 2rem auto auto;      
}

// Header

header {
  width: auto;                
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}
.header__devfinder{
  font-size: 1.625rem;
  font-family: $font-stack;  
}
.header__lghtDrkToggle{
  width: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;               
  font-family: $font-stack; 
  color: $light-bottomlink; 
  text-decoration: none;
  font-weight: 700;       //TODO
  line-height: 19.25px;  
  font-size: 13px;
  letter-spacing: 2.5px;
  text-align: right;         
}
.sunimg{
  height: 20px;
  width: 20px;
}

// Search bar 
.srch{
  display: flex;
  align-items: center;
  border-radius: 15px;
  border:1px black solid;
  height:  60px;        //TODO erase, this is just to see border

}
.search__img{
  height: 20px;
  width: 20px;
  margin: auto 9px auto 1rem;
}
.search__input{                 //TODO fix font styling on input
  border: none;
  font-family: $font-stack;
  font-size: 0.8125rem;

  line-height: 1.5625rem;
  font-weight: 400;    //TODO
  margin-right: 7px;
  width: 57%;
  
  
}

// Body 