
 // This file will contain any layouts such as containers, grid systems, and resets
// Using a mobile first approach


@import 'base';

//reset
*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: $light-primary-background;
}


// Header 
.wrapper {                    
 max-width: 327px;            
 margin: 31px auto auto;      
}

header {
  width: auto;                
  display: flex;
  justify-content: space-between;
  height: 38px;
}
.header__devfinder{
  font-size: 26px;
  font-family: $font-stack;  
}
.header__lghtDrkToggle{
  width: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;               //vertically align text within div
  font-family: $font-stack; 
  color: $light-bottomlink; 
  text-decoration: none;
  font-weight: 700;
  line-height: 19.25px;  
  font-size: 13px;
  letter-spacing: 2.5px;
  text-align: right;         
}
.sunimg{
  height: 20px;
  width: 20px;
}

// Search bar 


// Body 