/* 
    Author: Chris C. Ebron
    Github User Search App
    
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
  /* lightmode */
  --h1-lightmode: #2B3442;
  --searchbtn: #0079ff;
  --backgroundlight: #F6F8FF;
  --container: #FEFEFE;
  --bodytxt-color: #697C9A;
  --DevFinder-clr: #222731;
}

/* GENERAL STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  background-color: var(--backgroundlight);
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-width: 327px;
  max-width: 730px; 
  min-height: 611px;
  
}
.top-section,.srch-wrapper,.main{
  width: 87.2%;
}
.srch-wrapper, .main{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* TYPOGRAPHY */

h1,h2,h3,h4,p,a,input,button{
  font-family: 'Space mono', sans-serif;
  font-weight: 400;
}
h1,h2,button{
  font-weight: 700;
}

/* TITLE WITH LIGHT-DARK-MODE */

.top-section{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 4.647vh auto 5.397vh auto;
}
.devfinder{
  font-size: 1.625rem;
  color: var(--DevFinder-clr);
  line-height: 2.407rem;
}
.light-dark-tggle{
  text-decoration: none;
  font-size: 0.81rem;
  font-weight: 700;
  color:#4B6A9B;
}
.light-dark-tggle > img{
  margin-left: 1em;
}

/* SEARCH BAR */

.srch-wrapper{
  margin: 0 auto 1rem auto;
  height: 7.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-glass{
  margin: auto 0.5rem auto 1rem;
}
input{
  height: 100%;
  width: 56.27%;
  border: none;
}
.srch-btn{
  margin: auto;
  padding: 0.78rem 1rem;
  border-radius: 8px;
  background-color: var(--searchbtn);
  color:hsl(0, 0%, 100%);
  border: 0;
}

/* MAIN PROFILE*/

.main{
  height: 66.54vh;          
}

/* HEADER */

.profile{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 4.375rem 1.75rem 1.5rem;

}
.profile-pic{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: black;
  margin-right: 1.188rem;
}
.name{
  font-size: 1rem;
  line-height: 1.48rem;
  color: var(--h1-lightmode);
}
.username, .join-date{
  font-size: 0.8125rem;
  line-height: 1.2rem;
}
.username{
  color: var(--searchbtn);
}

/* BODY CONTENT */

.bio{
  font-size: 0.8125rem;
  line-height: 1.563rem;
  color: var(--bodytxt-color);
  width: 85.3%;
  height: 9.65vh;
  margin: 0 auto;
}

/* STATS */

.stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85.3%;
  height: 10.94vh;
  border-radius: 8px;
  background-color: var(--backgroundlight);
  margin: 28px auto 24px auto;
}
.stats h4{
  font-size: 0.6875rem;
  line-height: 1.018rem;
  color: var(--bodytxt-color);
}
.stats h2{
  font-size: 1rem;
  line-height: 1.48rem;
  text-align: center;
  color: var(--h1-lightmode);
}

/* BOTTOM LINKS */

.btm-links{
  width: 56.57%;
  height: 16.34vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 7.375rem  3rem 1.5rem;
  
}
.btm-links a{
  font-size: 0.8125rem;
  line-height: 1.2rem;
  text-decoration: none;
  color: var(--bodytxt-color);
}
.btm-links img{
  padding-right: 0.8125rem;
}

/* 
                      TABLET VERSION 
  width of entire screen:  768px      content width:  573px
  height of entire screen: 1024px     content height: 648px
*/

@media(min-width: 768px){
  .wrapper{
    width: 74.61%;
    height: 63.28vh;
    margin: 13.67vh auto 23vh auto;
  }
  .top-section,.srch-wrapper,.main{
    width: 100%; 
  }
  .top-section{
    margin: 0 auto 3.52vh auto;
  }
  
}



